# Dependências principais
email-validator==2.1.0
pydantic[email]==2.5.0
fastapi==0.104.1
uvicorn==0.24.0

# Banco de dados
motor==3.3.2
pymongo==4.6.0

# Configuração
pydantic-settings==2.1.0

# Utilitários
python-multipart==0.0.6
python-dotenv==1.0.0
httpx==0.25.2

# Rate limiting
redis==5.0.1
slowapi==0.1.9 